@import "../variables";

.sidebar {
  width: 60%;
  height: 100%;
  position: fixed;
  display: flex;
  background: $primary-color;

  &Nav {
    width: 115px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-color;

    .sidebarLogo {
      display: flex;
      align-items: flex-start;

      img {
        cursor: pointer;
        height: 85%;
      }
    }

    .sidebarTabs {
      flex-grow: 2;

      .sidebarTab {
        color: $body-color;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 300;

        svg {
          font-size: 18px;
        }
      }

      .Mui-selected {
        color: #fff;
        font-weight: 300;
      }
    }

    .sidebarQuestion {
      flex-grow: 1;
      display: flex;
      align-items: end;
      cursor: pointer;

      svg {
        font-size: 18px;
        color: #fff;
        width: 40px;
        height: 40px;
        padding: 13px;
        background: #88aaff;
        border-radius: 50%;
      }
    }
  }

  &Border {
    width: 1px;
    background-color: $border-color;
  }

  &AllTabPanel {
    // background: $primary-color;
    padding: 20px 15px;
    text-align: center;
  }
}
